footer {
    height: 200px;
    background-color: #EE4D47;
    margin-top: 184px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

.copyright {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #F8F9FA;
}

@media screen and (max-width: 1200px) {
    .footer-container {
        gap: 20.5em;
        padding-left: 100px;
    }

    footer {
        width: fit-content;
    }
}

@media screen and (max-width: 320px) {
    .footer-container {
        gap: 150px;
    }

    footer {
        width: 960px;
    }
}