body {
    font-family: 'DM Serif Display', 'Roboto', 'Rubik';
    background-color: #E5E5E5;
    justify-content: center;
    max-width: 1100px;
}

section {
    max-width: 50vw;

}

.container {
    margin: 0 auto;
    max-width: 50rem;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: block;
    padding-right: 6rem;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    min-width: 61px;
}

button {
    height: 60px;
    border: 0;
    background-color: #ee4d47;
    border-radius: 5px;
    font-family: 'Rubik';
    font-weight: 700;
    color: white;
    font-size: 16px;
    min-width: 158px;
}

@media screen and (max-width: 800px) {
    .container {
        max-width: 1000px;
    }
}


@media screen and (max-width: 440px) {
    li {
        padding-right: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 800px;
    }

    body {
        background-color: #FFCABF;
        animation-name: background-change;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        max-width: 900px;
    }
}