.how-to-apply {
    height: 700px;
}

.how-to-apply__container {
    display: flex;
}

.how-to-apply__header {
    margin-top: 100px;
    min-width: 166px;
    height: 50px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #EE4D47;
}

.how-to-apply__paragraph {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    width: 455px;
    height: 287px;
}

.how-to-apply__illustration {
    padding-right: 100px;
}

@media screen and (max-width: 320px) {
    .how-to-apply__illustration {
        transform: scaleX(-1);
        margin-right: -700px;
        z-index: -1;
    }

    .how-to-apply__article {
        margin-right: -190px;

    }

    .how-to-apply__container {
        flex-direction: row-reverse;
    }

}