.catalog {
    display: flex;
    padding-top: 50px;
    padding-bottom: 170px;
    justify-content: center;
    gap: 100px;
}

.cat-toy {
    width: 150px;
    height: 300px;
    object-fit: fill;
    margin-top: 5px;
}

.block {
    width: 200px;
    height: 400px;
    background-color: rgb(204, 201, 201);
    border-radius: 6px;
}

.block>button {
    border: 0;
    border-radius: 5px;
    background-color: gray;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

select {
    width: 300px;
    height: 50px;
    margin-left: -900px;
}

.Catalog {
    background-image: url('../../images/background.jpg');
    background-repeat: repeat, repeat;
    padding-top: 180px;
}

.Catalog>button {
    border: 0;
    border-radius: 5px;
    background-color: gray;
    width: 100px;
    height: 30px;
    font-size: x-large;
    margin-left: 100px;
}