img {
    width: 1500px;
    height: 600px;
    object-fit: cover;
    z-index: -1;
}

h1 {
    margin: -400px;
    padding-left: 1300px;
    color: white;
    font-weight: 800;
    font-size: 50px;
    width: 400px;
}

h2 {
    padding: 700px;
    padding-bottom: 0px;
    color: gray;
    font-size: 40px;
    min-width: 100px;
}

.toys {
    display: flex;
    justify-content: center;
    gap: 50px;
}

Main>* {
    overflow-x: hidden;
    max-width: 100%;
}